:host {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 325px;
  box-shadow: var(--shadow);
}

.card {
  height: 100%;

  &-header {
    position: relative;
    height: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-body {
    height: 50%;
    background-color: var(--elements-color);
  }
}
