header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 clamp(20px, 5vw, 50px);
  background-color: var(--elements-color);
  box-shadow: var(--shadow);
  height: 75px;

  h1 {
    margin: unset;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }
}
